
<div id="workExperienceCardContainer" >
    <mat-card tabindex="0" class="aboutMeCard">
        <mat-card-header>
            <div>
                <h2>Work Experience</h2>
            </div>
        </mat-card-header>
        <mat-card-content>
            
            <div>
                <h3 class="Jobtitles">Peer Mentoring Undergraduate Engineers</h3>
                <div style="display:flex">
                    <p style="margin-right: 40%;">Mentor</p>
                    <p>August 2022 – May 2023</p>
                </div>
                <ul>
                    <li>
                        <p class="mentor-details">Used leadership skills to help undergraduate students navigate resources to be successful in college.</p>
                    </li>
                    <li>
                        <p class="mentor-details">Developed strong leadership and communication skills by facilitating group discussions, providing feedback, and setting goals with mentees.</p>
                    </li>
                    <li>
                        <p class="mentor-details">Demonstrated an ability to work collaboratively with other mentors and program coordinators to create and implement effective mentorship strategies. </p>
                    </li>
                </ul>
                <h3 class="Jobtitles">Country Club of Missouri, Columbia</h3>
                <div style="display:flex">
                    <p style="margin-right: 20px;">Bartender and Server</p>
                    <p>October 2018 – August 2023</p>
                </div>
                <ul>
                    <li>
                        <p class="mentor-details">Oversaw bar operations by keeping the bar area safe, clean, and well-stocked throughout each working shift.</p>
                    </li>
                    <li>
                        <p class="mentor-details">Developed strong communication and interpersonal skills through regular interaction with club members, staff, and management.</p>
                    </li>
                    <li>
                        <p class="mentor-details">Utilized technology such as point-of-sale systems to ensure accurate and efficient tracking of orders. </p>
                    </li>
                </ul>






            </div>

           
        </mat-card-content>
        <!-- <button mat-button (click)="aboutMe()">More</button> -->
    </mat-card>
</div>
