#social-media-links{
    display:flex;
    justify-content: right;
    
}

#social-media-links a{
    margin:10px;
    border-radius: 100%;
    
}

#profile_picture{
    border-radius: 100%;
    margin-top: 10px;
}

#aboutMeCardContainer{
    width: 90%;
    margin-top: 10px;
    margin-left: 25px;
}

mat-card-header{
    background-color: darkgrey;
    padding: 0px 0px 0px 10px;

}

h2{
    font-size: larger;
}