<div id="aboutMeCardContainer" >
    <mat-card tabindex="0" class="aboutMeCard">
        <mat-card-header>
            <div>
                <h2>About me</h2>
            </div>
        </mat-card-header>
        <mat-card-content>
            <!-- need to get my image online for use -->
            <img id="profile_picture" mat-card-sm-image src="https://media.licdn.com/dms/image/D5603AQFGL1a33sgehA/profile-displayphoto-shrink_400_400/0/1679335489008?e=1700092800&v=beta&t=nlmS-MBy5wP9QEiA1fo7Z9-Q7eBFN1T6XHAIygjEpqI">
            <p> Hi, my name is Cole Robinson. I am a recent Mizzou graduate with a bachelors degree in Computer Science and a minor in Mathematics. I am passionate about Web Development, CI/CD Automation, and Python development. A little about myself is that I love to play golf in my free time. 
                I am always either practicing at the driving range or playing rounds with my girlfriend. Throughout highschool and college I spent my time working to be able to provide for myself. </p>
            
        </mat-card-content>
        <!-- <button mat-button (click)="aboutMe()">More</button> -->
    </mat-card>
</div>
