<div id="aboutMeCardContainer" >
    <mat-card tabindex="0" class="aboutMeCard">
        <mat-card-header>
            <div>
                <p>About me</p>
            </div>
        </mat-card-header>
        <mat-card-content>
            <!-- need to get my image online for use -->
            <!-- <img id="profile_picture" mat-card-sm-image src="https://media.licdn.com/dms/image/D5603AQFGL1a33sgehA/profile-displayphoto-shrink_400_400/0/1679335489008?e=1694044800&v=beta&t=uXO5V4SMPj3In-9IasKf0ahB-6aETEqwHPMoSu9xJ78"> -->
            <p> Hi, my name is Cole Robinson. I am a recent Mizzou graduate with a bachelors degree in Computer Science.</p>
            
        </mat-card-content>
        <button mat-button (click)="aboutMe()">More</button>
    </mat-card>
</div>
