#social-media-links{
    display:flex;
    justify-content: right;
    
}

#social-media-links a{
    margin:10px;
    border-radius: 100%;
    
}

#profile_picture{
    border-radius: 100%;
    margin-top: 10px;
}